@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6" data-ng-controller="TimeTrackerController as ctrl">

        <div class="ng-cloak">{{ctrl.message}}</div>

        <br />
        <input type="button" class="btn btn-success" value="Start Timer" data-ng-click="ctrl.StartTimer()" data-ng-disabled="ctrl.timerRunning" />
        <input type="button" class="btn btn-danger" value="Stop Timer" data-ng-click="ctrl.StopTimer()" data-ng-disabled="!ctrl.timerRunning" />

        <ul class="list-unstyled">
            <li data-ng-repeat="timeRecord in ctrl.timeRecordCollection track by $index" class="ng-cloak">
                start: {{timeRecord.start}}, end: {{timeRecord.end}}
                <button type="button" class="btn btn-danger" data-ng-click="ctrl.removeTimeEntry(timeRecord)">Delete</button>
                <hr />
            </li>
        </ul>

    </div>
</div>